html {
  font-size: 62.5%;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

*::selection {
  background-color: #000; /* Safari */
  color: #fff;
}

*::-moz-selection {
  background-color: #000; /* Safari */
  color: #fff;
}